<div class="container">
<div class="cards_container" *ngFor = 'let movie of movieInfo'>
  <div class="movie_image">
    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" />
  </div>
  <div class="location_and_year">{{movie.original_language | titlecase}} , {{movie.release_date | date:'yyyy'}}</div>
  <div class="title">
   {{movie.title }}
  </div>
  <div class="rating">
    <img src="assets/imdb.png" alt="" />
    <div>{{movie.vote_average}} ⭐</div>
  </div>
  <div class="genre">
    <div>{{movie.genre_ids}}</div>
  </div>
</div>

</div>
