<div class="container">
  <h1>Add user information here</h1>
  <div class="input-group">
    <div class="input-group-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="user@gmail.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Name </mat-label>
        <input
          matInput
          placeholder="asheer"
          formControlName="firstName"
          required
        />
      </mat-form-field>
    </div>
    <div class="input-group-2">
      <mat-form-field appearance="outline">
        <mat-label>Last Name </mat-label>
        <input
          matInput
          placeholder="hameed"
          formControlName="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Enter your address"
          formControlName="address"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="input-group-3">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
